@model WebBS.Models.OfertaLaboral

@{
    ViewBag.Title = "Registrar Oferta Laboral";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registrar Oferta Laboral</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true)



        <div class="form-group">
            @Html.LabelFor(model => model.Titulo, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
             
                @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } }) 
                @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdPerfil, "Perfil", new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownList("IdPerfil", (SelectList)ViewBag.DropList, "Seleccione", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdPerfil, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdSucursal, "Sucursal", new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownList("IdSucursal",  (SelectList)ViewBag.DropList, "Seleccione", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdSucursal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Funciones Adicionales", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.FuncionesAdicionales, new { @class = "form-control col-md-10", @placeholder = "Ingrese las Funciones Adicionales que desempeñara el empleado", @rows = 3 })
                @Html.ValidationMessageFor(model => model.FuncionesAdicionales)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Tiempo Validez", new { @class = "control-label col-md-2" })
            <div class="control-label col-md-2">


                @Html.TextBoxFor(model => model.TiempoValidez, new { @readonly = "readonly", @Value = "30", @class = "form-control" })

            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>
