@model WebBS.Models.OfertaLaboral

@{
    ViewBag.Title = "Detales de la Oferta Laboral";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de la OfertaLaboral</h2>

<div>

	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuncionesAdicionales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuncionesAdicionales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiempoValidez)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiempoValidez)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perfil.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perfil.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdOfertaLaboral }) |
    @Html.ActionLink("Regresar", "Index")
</p>
